<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/CSS/precio.css">
    <title>Document</title>
</head>

<body>
    
<div class="head">

    <div class="logo">
        <img src="/assets/Imagenes/Logo Laura.jpg" alt="Logo Laura">
    </div>

    <nav class="navbar">
        <a href="/index.html">Inicio</a>
        <a href="/views/nosotros.html">Nosotros</a>
        <a href="/views/contacto.html">Contacto</a>
        <a href="/views/producto.html">Productos</a>
        <a href="/views/precios.html">Precios</a>
    </nav>
</div>

<header class="content header">

    

    <section class="content price">

        <article class="contain">

            <h2 class="tilte">Precio</h2>
            <p>El precio queda acordado con la diseñadora ya que depende del tiempo, la forma y el formato    </p>

            <a href="#" class="btn">Saber precios</a>

        </article>

    </section>

    <figure class="map">

        <img src="/assets/Imagenes/mapa.png" height="220px" width="100%" alt="mapa">

    </figure>

    
    <div class="Instagram">
        
        <img src="/assets/Imagenes/instagram-schritt-1.png"  width="50" alt="logo instagram">
        <a href="https://www.instagram.com/lizkj_/">instagram</a>

    </div>

</body>
</html>